.sidebar
  position: fixed
  top: 0
  max-width: 1200px
  width: 100%
  height: 0px
  left: 50%
  z-index: 10
  transform: translateX(-50%)
  &__logo
    width: 130px
    height: 165px
    background-image: url('/img/logo/logo-bg.svg')
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.3s
    &.green
       background-image: url('/img/logo/logo-bg-green.svg')
    img
      width: 80px
      height: 90px
  &__menu
    display: flex
    width: 200px
    margin-top: 70px
    ul
      a
        font-size: 12px
        font-weight: 600
        display: inline-block
        letter-spacing: 0.9px
        text-decoration: none
        color: $black
        text-transform: uppercase
        line-height: 4
        position: relative
        z-index: 10
        padding: 0 10px
        overflow: hidden
        &:hover:before
          opacity: 1
          transition: all 0.3s
          transform: translateX(50%)
        &:before
          transform: translateX(-100%)
          content: ''
          width: 130%
          right: 50%
          background: #fff
          height: 10px
          display: inline-block
          position: absolute
          top: 23px
          z-index: -1
          transition: all 0.3s
  &__checkout
    margin-top: 70px
    width: 200px
    &__back
      font-size: 12px
      font-weight: 600
      letter-spacing: 0.9px
      text-transform: uppercase
      color: $black-two
      text-decoration: none
      position: relative
      cursor: pointer
      svg
        margin-right: 5px
        transform: rotate(180deg) translateY(-2px)
    nav
      margin-top: 30px
      ul
        li
          display: inline-block
          position: relative
          &:hover .icon
            fill: #cccccc
          &.active .icon
            fill: #cccccc
          a
            position: absolute
            right: 50%
            top: 50%
            text-decoration: none
            color: $dark-grey-blue-two
            text-transform: uppercase
            transform: translate(50%, -50%) 
      .icon
        width: 130px
        height: 55px
        fill: #e5e5e5
        transition: fill 0.3s
        cursor: pointer