.study
  background: linear-gradient(312deg, #32d6c1 14%, #284a41)
  h2
    color: #fff
    margin-bottom: 30px
  ul
    display: flex
    flex-wrap: wrap
    margin-bottom: 60px
    a
      font-size: 16px
      line-height: 1.88
      letter-spacing: 1.2px
      color: $pinkish-grey
      text-decoration: none
      border-bottom: 1px dashed
      margin-right: 20px
      display: block
      &:hover
        color: #ffffff
