@import helpers/colors

body
  font-family: 'Proxima Nova'

.container
  max-width: 1200px
  width: 100%
  position: relative
  height: 100%

.row
  height: 100%


.btn
  text-decoration: none
  border: 1px solid #ffffff
  background: transparent
  color: #ffffff
  padding: 15px 40px
  height: 100%
  letter-spacing: 1.6px
  font-weight: 600
  text-align: center
  cursor: pointer
  transition: all 0.3s
  text-transform: lowercase
  &:hover
    background: #ffffff
    color: $dark-grey-blue-two
  &--white
    background: #ffffff
    width: 170px
    color: $dark-grey-blue-two
    margin-right: 15px
    &:hover
      background: $dark-grey-blue-two
      color: #ffffff
      border-color: $dark-grey-blue-two
    


.social
  position: fixed
  max-width: 1200px
  width: 100%
  left: 50%
  transform: translateX(-50%)
  bottom: 70px
  display: flex
  z-index: 10
  svg
    width: 32px
    height: 32px
    fill: #fff
    margin-right: 10px
    transition: fill 0.3s
    &:hover
      fill: #54c3aa
