---
title: SmartLife Checkout Thank
---
extends layouts/_layout
block content

	include ./partials/_sidebar-only-logo
	#result
	script#theTmpl(type='text/x-jsrender')
		.thank
			.thank__1
				.container
					.row
						.col-md-offset-2.col-md-10.col-xs-12
							h2 {{:name}} {{:lastName}}, спасибо за ваш заказ в smartlifebio
							p Ваш заказ оформлен в автоматическом  режиме. Звонок оператора не требуется.  Заказанный товар есть в наличии.  В случае необходимости с Вами свяжется  менеджер. Проверьте, пожалуйста, состав Вашего  заказа, дату и адрес доставки:
							.thank__order
								.thank__order__number Заказ №201032
								{{if setAfc}}
								.row.thank__order__block.middle-xs.top-sm
									.col-md-8.col-xs-7
										h3 AFC (концентрат повышающий работоспособность) 
									.col-md-2.col-xs-2
										p {{:setAfc}} шт
									.col-md-2.end-xs.col-xs-3
										.thank__order__block__sum.thank__order__block__sum--1
											span {{:priceAfc}} ₽
									.col-xs-12
										hr
								{{/if}}
								{{if setIbc}}
								.row.thank__order__block.middle-xs.top-sm
									.col-md-8.col-xs-7
										h3 IBC (очищение и восстановление организма) 
									.col-md-2.col-xs-2
										p {{:setIbc}} шт 
									.col-md-2.end-xs.col-xs-3
										.thank__order__block__sum.thank__order__block__sum--2
											span {{:priceIbc}} ₽
									.col-xs-12
										hr
								{{/if}}
								.row.thank__order__block.thank__order__block__delivery
									.col-md-8.col-xs-7
										h3 {{:delivery}}
									.col-md-2.col-xs-2
										p -
									.col-md-2.end-xs.col-xs-3
										.thank__order__block__sum.thank__order__block__sum--3
											span {{:priceDelivery}} ₽
									.col-xs-12
										hr
								.row.thank__order__block.thank__order__block__total
									.col-md-8.col-xs-7
										h3 Итого:
									.col-md-2.col-xs-2
									.col-md-2.end-xs.col-xs-3
										.thank__order__block__sum.thank__order__block__sum__all
											span ₽
			.thank__2
				.container
					.row
						.col-md-offset-2.col-md-10.col-xs-12
							.row.thank__order__info
								.col-md-6.col-xs-12
									h3 Адрес:
								.col-md-6.col-xs-12
									p {{:address}}
								.col-xs-12
									hr
								.col-md-6.col-xs-12
									h3 Дата оформления заказа:
								.col-md-6.col-xs-12
									p {{:date}}
								.col-xs-12
									hr
								.col-md-6.col-xs-12
									h3 Способ оплаты:
								.col-md-6.col-xs-12
									p {{:payment}}
								.col-xs-12
									hr
								.col-md-6.col-xs-12
									h3 Телефон:
								.col-md-6.col-xs-12
									p {{:tel}}
								.col-xs-12
									hr
								.col-md-6.col-xs-12
									h3 E-mail:
								.col-md-6.col-xs-12
									p {{:email}}
								.col-xs-12
									hr
			.container
				.row
					.col-xs-12.center-xs
						a(href="index.html").btn.btn--thank Перейти на главную