.applying
	padding: 90px 0 70px
	+r(640)
		padding: 40px 0 40px
	&__top
		padding-bottom: 50px
		h2
			font-size: 24px
			font-weight: 500
			padding-bottom: 60px
			padding-left: 40px
		p
			font-size: 109px
			font-weight: 700
			color: #cccccc
			position: relative
			padding-left: 40px
			padding-bottom: 50px
			width: 592px
			+r(640)
				width: 100%
				padding-left: 0
			span
				width: 50px
				height: 50px
				position: absolute
				right: 61px
				bottom: 93px
				background: $dark-grey-blue-two
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				+r(640)
					width: 50px
					height: 50px
					right: 84px
					bottom: 94px
				&:before
					content: ''
					background: url('../img/afc-landing-svg/checkmark.svg') no-repeat
					width: 20px
					height: 20px
					display: block
					+r(640)
						right: 80px
			&:after
				content: ''
				background: url('../img/afc-landing/shadow.png') no-repeat
				position: absolute
				right: 100px
				bottom: -10px
				width: 500px
				height: 40px
				+r(640)
					bottom: 30px
		.swiper-container
			width: 100%
			height: 100%
			+r(640)
				width: 380px
				margin: 0 145px
		.applying__swiper
			position: relative
			padding-top: 120px
			z-index: 100
			+r(640)
				padding-top: 0
				margin-top: -20px
				margin-left: -40px
			&:before
				content: ''
				position: absolute
				background: url('../img/afc-landing-svg/applying.svg') no-repeat
				left: -140px
				top: 60px
				width: 520px
				height: 420px
				+r(640)
					background: url('../img/afc-landing-svg/applying-mobile.svg') no-repeat
					left: 73px
					top: -139px
			.swiper-slide
				ul
					position: relative
					overflow: hidden
					top: 10px
					display: flex
					flex-direction: column
					justify-content: center
					height: 270px
					+r(640)	
						width: 99%
						height: 190px
				li
					font-size: 16px
					font-weight: 400
					padding-bottom: 12px
					color: #2e6b67
					max-width: 285px
					position: relative
					padding-left: 30px
					+r(640)
						max-width: 100%
						line-height: 1.1
						font-size: 22px
						padding-left: 30px
						padding-bottom: 0
						margin-bottom: 10px
						display: inline-block
						// &:nth-child(4)
						// 	display: none
						// &:nth-child(5)
						// 	display: none
						// &:nth-child(6)
						// 	display: none
					&:before
						content: ''
						background: url('../img/afc-landing-svg/checkmark-green.svg') no-repeat
						width: 20px
						height: 20px
						display: block
						background-size: cover
						position: absolute
						top: 0
						z-index: 10
						left: 0
			.swiper-button-next
				right: -82px
				background: none
				top: 64%
				+r(640)
					right: 90px
					top: 94%
				span
					width: 50px
					height: 50px
					display: flex
					background: #cccccc
					border-radius: 50%
					display: flex
					justify-content: center
					align-items: center
					+r(640)
						width: 70px
						height: 70px
					.icon
						width: 23px
						height: 23px
						+r(640)
							width: 30px
							height: 30px

					svg
						fill: #000
				&:hover
					span
						svg
							fill: #2e6b67
	&__bottom
		padding-top: 40px
		padding-bottom: 50px
		h2
			font-size: 24px
			font-weight: 500
			padding-bottom: 20px
			padding-left: 40px
		p
			font-size: 109px
			font-weight: 700
			color: #cccccc
			position: relative
			margin-left: -60px
			padding-bottom: 50px
			user-select: none
			width: 652px
			+r(640)
				width: 100%
				margin-left: 0px
				padding-right: 0px
				top: 2px
				left: 10px
			span
				position: absolute
				right: 147px
				bottom: 93px
				width: 50px
				height: 50px
				background: $dark-grey-blue-two
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				+r(640)
					right: 16px
					bottom: 95px
					width: 50px
					height: 50px
				&:before
					content: ''
					background: url('../img/afc-landing-svg/checkmark.svg') no-repeat
					width: 20px
					height: 20px
					display: block
					background-size: cover
					+r(640)
						right: 21px
			&:after
				content: ''
				background: url('../img/afc-landing/shadow.png') no-repeat
				position: absolute
				right: 120px
				bottom: -10px
				width: 500px
				height: 40px
				+r(640)
					bottom: 30px
		.swiper-slide
			ul
				position: relative
				overflow: hidden
				padding-top: 80px
				display: flex
				justify-content: center
				flex-direction: column
				height: 250px
				+r(640)	
					width: 100%
					padding-top: 7px
					left: -10px
				li
					font-size: 16px
					font-weight: 400
					padding-bottom: 17px
					color: #2e6b67
					max-width: 285px
					position: relative
					padding-left: 30px
					+r(640)
						padding-left: 0
						padding-right: 30px
						position: relative
						padding-bottom: 0
						margin-bottom: 17px
					&:before
						content: ''
						background: url('../img/afc-landing-svg/checkmark-green.svg') no-repeat
						width: 20px
						height: 20px
						display: block
						background-size: cover
						position: absolute
						top: 0
						z-index: 10
						left: 0
						+r(640)
							right: 0
							left: initial
					+r(640)
						max-width: 100%
						font-size: 22px
						text-align: end
						// &:nth-child(4)
						// 	display: none
						// &:nth-child(5)
						// 	display: none
						// &:nth-child(6)
						// 	display: none	
						span
							display: none
		.swiper-container
			width: 100%
			height: 100%
			position: relative
			z-index: 100
			+r(640)
				width: 350px
				margin-top: -30px
		.applying__swiper
			position: relative
			padding-top: 20px
			top: -55px
			left: -30px
			z-index: 6
			+r(640)
				padding-top: 0
				left: 30px
				top: -15px
			&:before
				content: ''
				position: absolute
				background: url('../img/afc-landing-svg/applying.svg') no-repeat
				left: -140px
				top: 0
				width: 520px
				height: 420px
				+r(640)
					background: url('../img/afc-landing-svg/applying-bottom-mobile.svg') no-repeat
					left: 55px
					top: -94px
		.swiper-button-next
			top: 65%
			left: -160px
			background: none
			+r(640)
				left: 25%
				top: 94%
			span
				transform: rotate(180deg)
				width: 50px
				height: 50px
				display: flex
				background: #cccccc
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				+r(640)
					width: 70px
					height: 70px
				.icon
					width: 23px
					height: 23px
					+r(640)
						width: 30px
						height: 30px
				.icon
					width: 23px
					height: 25px	
				svg
					fill: #000
			&:hover
				span
					svg
						fill: #2e6b67
.applying__parallax__content
	position: absolute
	top: 0
	z-index: 6
	width: 100%
	height: 100%
#applying-1
	left: 4%
	top: 100px
	+r(640)
		top: 43%
#applying-2
	right: -83%
	top: -21%
	+r(640)
		top: -12%
		right: -67%
		img
			width: 80px
#applying-3
	right: -84%
	top: -48%
	+r(640)
		top: -27%
		right: -67%
		img
			width: 128px

	
