section.section.afc
  .container
    .row.middle-xs
      .col-md-3.col-md-offset-2
        .afc__slider
          .afc__slider--img
            img(src="img/afc.png", alt="")
          .afc__slider--line
            img(src="img/afc/afc-line.svg", alt="")
            .afc__slider--active
            .afc__slider--prev.swiper-button-prev
              img(src="img/afc/afc-arrow.svg", alt="")
            .afc__slider--next.swiper-button-next
              img(src="img/afc/afc-arrow.svg", alt="")
      .col-md-offset-1.col-md-6
        h2 AFC - Концентрат Повышающий<br>Работоспособност 
          span (Innovation adaptogenic functional concentrate)
        .swiper-container.afc-slider
          .swiper-wrapper
            .swiper-slide
              p Замедляет процессы старения
            .swiper-slide
              p Повышает физическую и умственную<br>работоспособность 
            .swiper-slide
              p Снижает риск возникновения сердечно-сосудистых<br>и онкологических заболеваний,<br>последствия стресса
            .swiper-slide
              p Повышает физическую и умственную<br>работоспособность 
        .afc__info
          img(src="img/afc/afc-info.svg", alt="")
        .afc__price
          .afc__price__block
            p Цена
            h3 от 
              span 329
              +icon('ruble')
              |/ шт 
          a.btn.btn--white(href="#") купить
          a.btn(href="#") подробнее
  .afc__bottom.flex.center-xs
    .afc__bottom__block
      p Не упусти возможность, попробуй и ощути изменения за 2 недели
        span со скидкой 30%
      a.btn.btn__afc--bottom Попробовать