section.section.home
  .social
    a(href="#")
      +icon('instagram')
    a(href="#")
      +icon('vk')
    a(href="#")
      +icon('facebook')
    a(href="#")
      +icon('youtube')
  .swiper-container.home-slider
    .swiper-wrapper
      .swiper-slide
        .container
          .row.middle-xs
            .col-md-3.col-md-offset-9.end-xs
              .home__comp
                img(src="img/comp-1.png", alt="")
              .home__block
                .swiper-pagination
                p Продукты<br>для здоровой<br>и счастливой<br>жизни
                a(href="#") Все о нас<br>за 60 секунд
                  span
                    img(src="img/play.svg", alt="")
      .swiper-slide
        .container
          .row.middle-xs
            .col-md-3.col-md-offset-9.end-xs
              .home__comp
                img(src="img/comp-1.png", alt="")
              .home__block
                .swiper-pagination
                p Продукты<br>для здоровой<br>и счастливой<br>жизни
                a(href="#") Все о нас<br>за 60 секунд

