section.section.photos
  .container
    .row.middle-xs
      .col-md-offset-2.col-md-10
        h2 Публикации
        a.photos__inst(href="https://www.instagram.com/smartlifebio/") перейти в instagram
          +icon('inst-arrow')
        #instafeed.center-xs