section.section.study
  .container
    .row
      .col-md-offset-2.col-md-10
        h2 Исследования
        ul
          li
            a(href="#") Реакция
          li
            a(href="#") Стрессоустойчивость
          li
            a(href="#") Сосуды
          li
            a(href="#") Работоспособность
          li
            a(href="#") Скорость восстановления
          li
            a(href="#") Память,внимание, восприятие 
          li
            a(href="#") Риск получения травм
          li
            a(href="#") Чистота болезней
        canvas#myChart