section.applying
	.container
		.applying__top
			.row.middle-md.center-md
				.col-md-6.start-md
					h2 Для чего концентра AFC?
					p #AFC_ ДЛЯЧЕГО
				.col-md-3.start-md
					.applying__swiper
						.swiper-container.applying-slider-top
							.swiper-wrapper
								.swiper-slide
									ul
										li Восстанавливает иммунитет, нервную систему, защитные силы при переутомлении
										li Способствует уменьшению аллергии
										li Нормализует сон 
										li Повышает физическую и умственную работоспособность
										li Улучшает память, внимательность, обмен веществ
										li Замедляет процессы старения 
								.swiper-slide
									ul
										li Восстанавливает иммунитет, нервную систему, защитные силы при переутомлении
										li Способствует уменьшению аллергии
										li Нормализует сон 
										li Повышает физическую и умственную работоспособность
										li Улучшает память, внимательность, обмен веществ
										li Замедляет процессы старения 
								.swiper-slide
									ul
										li Восстанавливает иммунитет, нервную систему, защитные силы при переутомлении
										li Способствует уменьшению аллергии
										li Нормализует сон 
										li Повышает физическую и умственную работоспособность
										li Улучшает память, внимательность, обмен веществ
										li Замедляет процессы старения 
						.swiper-button-next.next
							span
								+icon('review-arrow')
		.applying__bottom
			.row.center-md
				.col-md-3.col-md-offset-2.start-md
					.applying__swiper
						.swiper-container.applying-slider-bottom
							.swiper-wrapper
								.swiper-slide
									ul
										li Вы ведете активный<br> образ жизни (спорт/фитнес)
										li У вас интенсивный график с частыми разъездами и сменой часовых поясов
										li Ваша работа связана со стрессом
										li Регулярное недосыпание превратилось в норму
								.swiper-slide
									ul
										li Вы ведете активный<br> образ жизни (спорт/фитнес)
										li У вас интенсивный график с частыми разъездами и сменой часовых поясов
										li Ваша работа связана со стрессом
										li Регулярное недосыпание превратилось в норму
								.swiper-slide
									ul
										li Вы ведете активный<br> образ жизни (спорт/фитнес)
										li У вас интенсивный график с частыми разъездами и сменой часовых поясов
										li Ваша работа связана со стрессом
										li Регулярное недосыпание превратилось в норму
						.swiper-button-next#next
							span
								+icon('review-arrow')
				.col-md-6.start-md
					h2 Для кого концентра AFC?
					p #AFC_ ДЛЯКОГО