section.consist
	.consist__top
		.row.middle-md
			.col-md-12.center-xs
				h2 СОСТАВ: 16 ПРИРОДНЫХ КОМПОНЕНТОВ
	.consist__content
		.container
			.row.center-md
				.col-md-6
					.row
						.col-md-6.start-md
							.consist__content__left
								ul
									li.middle-md
										span 1
										p Органическое железо
									li.middle-md 
										span 2
										p Экстракт из молодых рогов (пантов) алтайского марала
									li.middle-md 
										span 3
										p Гидролизат белка ультрафильтрованный
									li.middle-md 
										span 7
										p Янтарная кислота
									li.middle-md 
										span 10
										p Экстракт имбиря сухой
									li.middle-md 
										span 11
										p Экстракт зеленого чая сухой
									li.middle-md.arrow 
										span 13
										p Экстракт родиолы розовой сухой
									li.middle-md 
										span 15
										p Экстракт боярышника сухой
								img(src="img/afc-landing/consist-left.png", alt="")
						.col-md-5.start-md
							.consist__content__right
								ul
									li.middle-md
										span 5
										p Креатин
									li.arrow1.middle-md
										span 4
										p Карнозин
									li.middle-md
										span 6
										p Йод в хелатной форме
									li.middle-md
										span 8
										p Аскорбиновая кислота
									li.arrow2.middle-md
										span 9
										p Холин
									li.middle-md
										span 12
										p Экстракт левзеи сухой
									li.middle-md
										span 14
										p Экстракт сушеницы сухой
									li.arrow3.middle-md
										span 16
										p Экстракт Саган Дайля
								img(src="img/afc-landing/consist-right.png", alt="")

								
								
								
								
								