section.head
	.container
		.head__top
			a(href="index.html").head__top__logo
				img(src="img/logo/logo-white.svg", alt="Логотип")
			a(href="#").head__top__back На главную
				+icon('review-arrow')
		.head__block
			.row.middle-md
				.col-md-5.col-md-offset-7
					.head__block__text
						h2 AFC - Концентрат Повышающий Работоспособность
						p Продукт для здоровья и повышения <br>работоспособности, а не достижения результата любой ценой!
						p Его можно принимать всей семьей!
						p Это природный продукт, основой которого являются высокоэффект ивные вещества, экстракты, специально подобранные в один комплекс для получения мощного синергического эффекта.
						a(href="#").btn Заказать
					img.head__block__afc(src="img/afc-landing/head.png", alt="")
