section.order
	.container
		.row.start-sm.center-xs
			.col-md-5.middle-md.col-xs-10
				h2 НЕ УПУСТИ ВОЗМОЖНОСТЬ, ПОПРОБУЙ И ОЩУТИ ИЗМЕНЕНИЯ<br> ЗА 2 НЕДЕЛИ 
				.order__block
					span комплекс
					p AFC + IBC
				//a(href="checkout.html" data-cookie="afcibc").btn попробовать
				a(data-checkout data-cookie="afcibc").btn попробовать
footer.footer
	.container
		.row.middle-xs
			.col-xs-6
				p © 2017 Smartlifebio
			.col-xs-6.end-xs
				a(href="https://excv.ru/?utm_sourse=smartlife.bio")
					img(src="img/footer-logo.svg", alt="")