section.order
	.container
		.row
			.col-md-5.middle-md
				h2 НЕ УПУСТИ ВОЗМОЖНОСТЬ, ПОПРОБУЙ И ОЩУТИ ИЗМЕНЕНИЯ<br> ЗА 2 НЕДЕЛИ 
				.order__block
					span -30%
					p со скидкой
				a(href="#").btn попробовать
section.footer
	.container
		.row
			.col-md-6
				p © 2017 Smartlifebio
			.col-md-6.end-md
				img(src="img/afc-landing-svg/footer-logo.svg", alt="")