section.use
	.container
		.row
			.col-md-12.center-xs
				h2 Способ применения AFC
					a(href="#").start-md Смотреть<br>видео-инструкцию
						span
							img(src="img/play.svg", alt="")
			.col-md-4.center-md
				.use__block.use__block--1
					p Взрослым:
					.use__block__foto
						img(src="img/afc-landing/use-1.png", alt="")
						span 1
					p Открыть флакон 35 г<br> (1 порцию концетрата)
			.col-md-4.center-md
				.use__block
					.use__block__foto.use__block__foto--span
						img(src="img/afc-landing/use-2.png", alt="")
						span 2
					p Добавить питьевую воду до объема 100 мл и хорошо перемешать
			.col-md-4.center-md
				.use__block
					.use__block__foto
						img(src="img/afc-landing/use-3.png", alt="")
						span 3
					p Готово к применению
			.col-xs-12
				.use__advice
					p <b>Рекомендуется:</b> принимать утром натощак. При повышенных умственных и физических нагрузках прием можно увеличить до двух порций.
			.col-xs-12
				.use__recommendation
					.use__recommendation__block
						p 14-18 лет:
						p 1 флакон за два приема в первой половине дня
					.use__recommendation__block
						p 10-14 лет:
						p 1 ложка столовая 1 раз в день, при интенсивных нагрузках до 2 раз в день в первой половине дня.
					.use__recommendation__block
						p 7-10 лет:
						p ½ чайной ложки 1-2 раза в первой половине дня
					.use__recommendation__block.use__recommendation__block--last
						p Противопоказания:
						p Индивидуальная непереносимость компонентов продукта.






