section.better
	.container
		.row
			.col-md-12.center-md
				h2 Что улучшает IBC?
		.better__content
			img(data-src="img/ibc-landing/better.png", alt="")
			.better__content__left
				p.top Белковый, углеводный <br>и липидный обмен веществ;
					span
						+icon('check')		
				p Белковый, углеводный <br>и липидный обмен веществ;
					span
						+icon('check')		
				p Рост полезной микрофлоры <br>кишечника;
					span
						+icon('check')		
				p Снижает уровень сахара <br>и холестирина в крови;
					span
						+icon('check')		
				p Защищает от свободных радикалов <br>и нормализует окислительно-<br>восстановительные процессы <br>в организме.
					span
						+icon('check')
			.better__content__right
				b #IBC_УЛУЧШАЕТ
				p Снижает риск опухолей толстой <br>кишки, снижает аппетит; 
					span
						+icon('check')
				p.top Поддерживает жизнедеятельность <br>и размножение бифидо <br>лактобактерий; 
					span
						+icon('check')
				p Снижает систолическое <br>давление, стабилизирует <br>артериальное давление; 
					span
						+icon('check')
				p Снижает вирусные и <br>респираторные инфекции, <br>восстанавливает иммунитет; 
					span
						+icon('check')