section.conclusion
	.container
		.row
			.col-md-12.center-md
				h2 Что выводит IBC?
		.conclusion__content
			.conclusion__content__left
				p.top Различные токсины, аллергены,<br> соли тяжелых металлов;
					span
						+icon('check')		
				p Радионуклиды, билирубин;
					span
						+icon('check')		
				p Холестерин и липиды;
					span
						+icon('check')		
				p Мочевину;
					span
						+icon('check')		
				p Продукты распада алкоголя; 
					span
						+icon('check')
			.conclusion__content__right
				p Метаболиты, формирующие эндогенный токсикоз;
					span
						+icon('check')
				p.top.top--padding Продукты распада медикаментов, <br>канцерогены,патогенные микроорганизмы, <br>и многие другие опасные для организма <br>эндо- и экзогенные вещества <br>различной природы;
					span
						+icon('check')
				p Ксенобиотики;
					span
						+icon('check')
				p Аммиак.
					span
						+icon('check')
				b #IBC_ВЫВОДИТ
