section.head
	.container
		.head__top
			a(href="index.html").head__top__logo
				img(data-src="img/logo/logo-white.svg", alt="Логотип")
			a(href="#").head__top__back На главную
				+icon('review-arrow')
		.head__block
			.row.middle-md
				.col-md-5.col-md-offset-7
					.head__block__text
						h2 IBC - очищение и восстановление организма
						span (Innovation boby cleansing)
						p Концентрат IBC (сорбент нового поколения) это натуральный органический продукт, который очищает и восстанавливает наш организм, при этом не нарушая микрофлоры ЖКТ!
						a(href="#").btn Заказать
					img(data-src="img/ibc-landing/head.png", alt="")
