.icon-checkout-back {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checkout-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cherry {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-chocolate {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-delivery-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delivery-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst-arrow {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.icon-mint {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-review-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ruble {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-step-1 {
  width: 2.43em;
  height: 1em;
  fill: initial;
}
.icon-step-2 {
  width: 2.98em;
  height: 1em;
  fill: initial;
}
.icon-step-3 {
  width: 2.29em;
  height: 1em;
  fill: initial;
}
.icon-strawberry {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
